<% if apps %>
  <div class="row">
    <% apps.each do |app| %>
      <div class="app">
        <div class="col-md-2 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <img src="<%= app.image_url %>" alt="">
            </div>
            <div class="panel-body text-center app-title">
              <p class="app-title"><%= app.name %></p>
            </div>
            <ul class="list-group">
              <li class="list-group-item text-center">
                <% if current_user.friendcode?(app) %>
                  <% friendcodes.each do |friendcode| %>
                    <% if friendcode.app_id == app.id %>
                      <%= form_for(friendcode) do |f| %>
                        <%= hidden_field_tag :app_id, app.id %>
                        <%= f.text_field :friendcode, class: "form-group", value: friendcode.friendcode %>
                        <%= f.submit %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= form_tag(friendcodes_path) do %>
                    <%= hidden_field_tag :app_id, app.id %>
                    <%= text_field_tag :friendcode%>
                    <%= submit_tag %>
                  <% end %>
                <% end %>
              </li>
              <li class="list-group-item text-center"><%= render 'rel_apps/have_button', app: app %></li>
              </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<div class="addapp text-center">
  <%= link_to new_app_path do %>
    <div class="btn btn-primary">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      アプリを追加
    </div>
  <% end %>
</div>

